<h2>Sign in</h2>

<%= form_for(resource, as:resource_name, url:session_path(resource_name), html:{class:'form-horizontal'}) do |f| %>
  <div class="control-group">
    <%= f.label :email, class:'control-label', for:'inputEmail' %>
    <div class="controls">
      <%= f.email_field :email, id:'inputEmail', placeholder:'Email', autofocus:true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, class:'control-label', for:'inputPassword' %>
    <div class="controls">
      <%= f.password_field :password, id:'inputPassword', placeholder:'Password' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <% if devise_mapping.rememberable? -%>
        <label class="checkbox">
          <input type="checkbox"> Remember me
          <%= f.check_box :remember_me %>
        </label>
      <% end -%>
      <%= f.submit "Sign in", class:'btn btn-primary' %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>


<div>
  <a href="#" onclick="hoge();">hoge</a>
  <a href="#" onclick="moge();">moge</a>
<<<<<<< HEAD
  <a href="#" onclick="fuga();">fuga</a>
=======
>>>>>>> 717214e883f427b9499233ecba9b8106c360fe1d
</div>


<script>
  function hoge() {
    $.ajax({
       type: "POST",
       url: "/api/users/sign_in_by_mobile",
       data: "user[email]=yokohama@raw-hide.co.jp&user[password]=hgpq0202",
       success: function(msg){
       },
       error: function(msg){
       }
     });
  };
  function moge() {
    $.ajax({
       type: "POST",
       url: "<%= api_users_sign_in_by_mobile_path %>",
       data: "user[email]=fuga&user[password]=moge",
       success: function(msg){
       },
       error: function(msg){
       }
     });
  };
<<<<<<< HEAD
  function fuga() {
    $.ajax({
       type: "POST",
       url: "/api/books",
       data: "user[email]=yokohama@raw-hide.co.jp&user[password]=hgpq0202",
       success: function(msg){
       },
       error: function(msg){
       }
     });
  };
=======
>>>>>>> 717214e883f427b9499233ecba9b8106c360fe1d
</script>
