<center><p><%= @records.size %>件の単語</p></center>
<% if @error_count > 0 %>
  <div class="label label-important" style="margin-top:10px;margin-bottom:10px;"><%= @error_count %>件の不正なデータがあります。<br />赤いレコードはデータがおかしいため保存のさいにスキップされます。</div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>単語</th>
      <th>答え</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |r| %>
      <% if r[:error_line_no] %>
        <tr class="alert alert-error">
          <td><%= r[:word] %></td>
          <td><%= r[:answer] %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= r[:word] %></td>
          <td><%= r[:answer] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
